@media screen and (min-width: 360px) and (max-width:1023px)  {
    .mainWin .main-container{
        display: flex;
        justify-content: center; 
        width: 100%;  
    
    }

    .window {
        margin-left: 20px;
        margin-right: 20px;
        height: 540px;
        width: 1100px;
        overflow:auto;
        scrollbar-width: none;   
    }

    .all-pages-container {
        height: 100%;
        display:flex;
        transform: translate;
        transition-property: transform;
        transition-duration: 300ms;
        transition-timing-function: ease-in-out;
    
    }

    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 10px;
        margin-top: -80px;
        padding-left: 200px;
       
      }

    .button h1{
        font-weight: bold;
        color:black;
        font-family: serif;
        
        
    }
    .button_left_right .arrow {
        
        width: 48px;
        height: 48px;
        cursor: pointer;
    
    }

    .point{
        color:black;
    }
}


@media screen and (min-width: 1024px){
    .mainWin .main-container{
        display: flex;
        justify-content: space-between; 
        width: 100%;  

    }

    .window {
        margin-left:160px;
        margin-right: 160px;
        height: 540px;
        width: 1200px;
        overflow:auto;
        scrollbar-width: none;   
    }

    .all-pages-container {
        height: 100%;
        display:flex;
        transform: translate;
        transition-property: transform;
        transition-duration: 300ms;
        transition-timing-function: ease-in-out;

    }

    .button{
        width: 1070px;
        display:flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 10px;
        margin-top: -80px;
    }   

    .button h1{
        font-weight: bold;
        color:black;
        font-family: serif;
        
    }
    .button_left_right .arrow {
        
        width: 48px;
        height: 48px;
        cursor: pointer;

    }

    .point{
        color:black;
    }
}

@media screen and (min-width: 1600px) {
    .mainWin .main-container{
        display: flex;
        justify-content: center; 
        width: 100%;  
    }

    .window {
      
        height: 540px;
        width: 1200px;
        overflow:auto;
        scrollbar-width: none; 
    }

    .all-pages-container {
        height: 100%;
        display:flex;
        transform: translate;
        transition-property: transform;
        transition-duration: 300ms;
        transition-timing-function: ease-in-out;

    }

    .button{
        width: 1070px;
        display:flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 10px;
        margin-top: -80px;
    }   

    .button h1{
        font-weight: bold;
        color:black;
        font-family: serif;
        
    }
    .button_left_right .arrow {
        
        width: 48px;
        height: 48px;
        cursor: pointer;

    }

    .point{
        color:black;
    }
}