
.modal_info {
    width: 300px;
    margin-top: -25px;
    height: 90%;
}

.airport{
    background-color: rgb(243, 243, 242);
}

.name_places{

    font-size: 20px;
    color:rgb(53, 105, 144);
}
.geo a{
    color:rgb(53, 105, 144);
}

.information_travel{
    display:flex;
    justify-content: space-around;
   gap:7px;
}
.price_people_for_tour{
    text-align: center;
}
.people{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.photo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.sizeZnak{
    color:gray;
}

.or_der{
    display:flex;
    gap:80px;
   
}
.order_button{
    background-color: green;
    border-radius:20px;
}

.order_button:active{
    background-color: rgb(247, 8, 8);
}

.number label {
    color:red;
    font-size: 12px;
}