
.modal_info {
    width: 300px;
    margin-top: -25px;
    height: 90%;
}

.airport{
    background-color: rgb(226, 225, 224);
}

.name_places{

    font-size: 20px;
    color:rgb(53, 105, 144);
}
.geo a{
    color:rgb(53, 105, 144);
}

.information_travel{
    display:flex;
    justify-content: space-around;
   gap:7px;
}
.price_people_for_tour{
    text-align: center;
}
.people{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.photo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}