
@media screen and (min-width: 1024px) {
    .choose{
        height: 460px;
    }

    .text_choose h1{
        margin-top: 20px;
        text-align: center;
    }

    .examples{
        display: flex;
        align-items: center;
        margin-left: 196px;
        margin-right: 196px;
        margin-top:72px ;
        gap:104px;
        justify-content: space-around;
    }

    .examples img{
        width: 100px;
        height: 100px;
    }

    .examples h3{
        font-size: 20px;
    }

    .examples p{
        font-size: 16px;
    }

    .competitive,
    .secure,
    .seamless{
        text-align: center;
        width: 240px;
        height: 230px;
        transition: transform 0.5s;
    }
    .competitive:hover,
    .secure:hover,
    .seamless:hover{
        transform: rotate(360deg);
    }
    
}


@media screen and (min-width: 360px) and (max-width:1023px){

    .choose{
        height: 340px;
    }

    .text_choose h1{

        text-align: center;
    }

    .examples{
        display: flex;
        align-items: center;
        margin-left: 70px;
        margin-right: 70x;
        margin-top:32px ;
        justify-content: space-around;
        gap:52px;
        
    }

    .examples img{
        width: 50px;
        height: 50px;
    }

    .examples h3{
        font-size: 20px;
    }
    .examples p{
        font-size: 16px;
    
    }

    .competitive,
    .secure,
    .seamless{
        text-align: center;
        width: 240px;
        height: 230px;
        transition: transform 0.5s;
    }
    .competitive:hover,
    .secure:hover,
    .seamless:hover{
        transform: rotate(360deg);
    }


}


@media screen and (min-width: 1600px) {
    .choose{
        height: 520px;
    }

    .text_choose h1{
        margin-top: 20px;
        text-align: center;
    }

    .examples{
        display: flex;
        align-items: center;
        margin-left: 196px;
        margin-right: 196px;
        margin-top:72px ;
        gap:104px;
        justify-content: space-around;
    }

    .examples img{
        width: 100px;
        height: 100px;
    }

    .examples h3{
        font-size: 20px;
    }

    .examples p{
        font-size: 16px;
    }

    .competitive,
    .secure,
    .seamless{
        text-align: center;
        width: 240px;
        height: 230px;
        transition: transform 0.5s;
    }
    .competitive:hover,
    .secure:hover,
    .seamless:hover{
        transform: rotate(360deg);
    }
    
}
